body {
  font-family: 'Roboto', sans-serif;
}

.button, button, input[type='button'], input[type='reset'], input[type='submit'] {
  background-color: #9b4dca;
  border: 0.1rem solid #9b4dca;
}

button.favorite.button-favorite{
  background-color: red;
}

button.avoid.button-avoid{
  background-color: red;
}

button img {
  width: 30px;
}

.container {
  padding-bottom: 90px;
}
.nav-header {
  display: flex;
  justify-content: space-between;
  background-color: #ececec;
  padding: 2rem;
  margin-bottom: 2rem;
}

.nav-header h1 {
  font-size: 2.2rem;
  margin-bottom: 0;
}

.nav-header p {
  margin-bottom: 0;
}

.nav-header p:hover {
  cursor: pointer;
  color: black;
}

.nav-footer {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  bottom: 0px;
  left: 0px;
  background: white;
  box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.3);
  z-index: 99;
}

.nav-footer a {
  width: 18%;
  padding-top: 5px;
}

ul {
  list-style: none;
}

ul li {
  margin-left: -2rem;
  margin-right: -2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  text-align: center;
}

li p {
  text-align: left;
}

li button {
  line-height: 0;
  background: none;
  border: none;
  text-align: left;
}